{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Buscar</title>{% endblock %}
</head>
<body>
    {% block main %}
    <main class='main_buscar'>
        <form action="" method='POST'> {% csrf_token %}
            <h1>Buscar por</h1>
            <select name="opciones" id="seleccion">
                <option value="nombre">Nombre</option>
                <option value="apellido">Apellido</option>
                <option value="fecha_nacimiento">Fecha de Nacimiento</option>
            </select>
            <input type="text" name='valor' id='valor_input'>
            <button type='submit'>Buscar</button>
        </form>
        <div id='busqueda'>
            {% for r in resultado %}
            <li>{{ r|slice:'1:2'|first }} {{ r|slice:'2:3'|first }}</li>
            {% endfor %}
        </div>
    </main>
    {% endblock %}
</body>
</html>