{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Ver Mas</title>{% endblock %}
</head>
<body>
    {% block main %}
    <main class='main_vermas'>
        <div class='columna' id='ayer'>
            <h2>Ayer</h2>
            <p>{{ fecha_ayer }}</p>
            <hr color='red'>
            {% for cumple_a in cumple_ayer%}
            <li>{{ cumple_a|first }} {{ cumple_a|slice:'1:2'|first }}</li>
            {% endfor %}
        </div>
        <div class='columna' id='hoy'>
            <h2>Hoy</h2>
            <p>{{ ctx }}</p>
            <hr color='red'>
            {% for cumple_a in cumple_hoy%}
            <li>{{ cumple_a|first }} {{ cumple_a|slice:'1:2'|first }}</li>
            {% endfor %}
        </div>
        <div class='columna' id='manana'>
            <h2>Manana</h2>
            <p>{{ fecha_manana }}</p>
            <hr color='red'>
            {% for cumple_a in cumple_manana%}
            <li>{{ cumple_a|first }} {{ cumple_a|slice:'1:2'|first }}</li>
            {% endfor %}
        </div>
    </main>
    {% endblock %}
</body>
</html>